<template>
  <div>
    <div class="navbar">
      <img src="../assets/images/foodpandalogo.png" class="logo" />
      <a href="#"><img src="../assets/images/cart.png" class="cart-icon" /></a>
      <a href="#" class="login">
        <span class="verticle-line2"></span
        ><img src="../assets/images/usericon.png" class="user-icon" />
        <span class="login-txt">LOGIN</span><span class="verticle-line3"></span
      ></a>
      <a href="#" class="language"
        ><span class="verticle-line"></span> <span class="lang">EN | 中文</span></a
      >
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style></style>
